23-05-2019-serverless-event-driven-architecture/app.arm/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "sites_demoTwitter_name": {
            "defaultValue": "",
            "type": "string"
        },
        "connections_twitter_name": {
            "defaultValue": "",
            "type": "string"
        },
        "connections_documentdb_name": {
            "defaultValue": "",
            "type": "string"
        },
        "sites_twitterdemomeetup_name": {
            "defaultValue": "",
            "type": "string"
        },
        "topics_demoTwitter_name": {
            "defaultValue": "",
            "type": "string"
        },
        "workflows_processTweet_name": {
            "defaultValue": "",
            "type": "string"
        },
        "SignalR_hmbtwitterdemo_name": {
            "defaultValue": "",
            "type": "string"
        },
        "connections_azureeventgridpublish_name": {
            "defaultValue": "",
            "type": "string"
        },
        "serverfarms_FunctionApp20190512035939Plan_name": {
            "defaultValue": "",
            "type": "string"
        },
        "databaseAccounts_twitterdemocosmosdb_name": {
            "defaultValue": "",
            "type": "string"
        },
        "components_AI_demoTwitterLogicApp_96d9_name": {
            "defaultValue": "",
            "type": "string"
        },
        "alertrules_Failure_Anomalies___AI_demoTwitterLogicApp_96d9_name": {
            "defaultValue": "",
            "type": "string"
        },
        "serverfarms_hmbtestapp_externalid": {
            "defaultValue": "",
            "type": "string"
        },
        "subscription_id":{
            "defaultValue": "",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "apiVersion": "2015-04-08",
            "name": "[parameters('databaseAccounts_twitterdemocosmosdb_name')]",
            "location": "North Europe",
            "tags": {
                "defaultExperience": "Core (SQL)"
            },
            "kind": "GlobalDocumentDB",
            "properties": {
                "enableAutomaticFailover": false,
                "enableMultipleWriteLocations": false,
                "isVirtualNetworkFilterEnabled": false,
                "virtualNetworkRules": [],
                "databaseAccountOfferType": "Standard",
                "consistencyPolicy": {
                    "defaultConsistencyLevel": "Session",
                    "maxIntervalInSeconds": 5,
                    "maxStalenessPrefix": 100
                },
                "locations": [
                    {
                        "locationName": "North Europe",
                        "provisioningState": "Succeeded",
                        "failoverPriority": 0
                    }
                ],
                "capabilities": []
            }
        },
        {
            "type": "Microsoft.EventGrid/topics",
            "apiVersion": "2018-01-01",
            "name": "[parameters('topics_demoTwitter_name')]",
            "location": "northeurope",
            "properties": {
                "provisioningState": "Succeeded",
                "endpoint": "https://demotwitter.northeurope-1.eventgrid.azure.net/api/events"
            }
        },
        {
            "type": "microsoft.insights/components",
            "apiVersion": "2015-05-01",
            "name": "[parameters('components_AI_demoTwitterLogicApp_96d9_name')]",
            "location": "northeurope",
            "kind": "web",
            "properties": {
                "Application_Type": "web",
                "Request_Source": "IbizaWebAppExtensionCreate"
            }
        },
        {
            "type": "Microsoft.SignalRService/SignalR",
            "apiVersion": "2018-10-01",
            "name": "[parameters('SignalR_hmbtwitterdemo_name')]",
            "location": "northeurope",
            "sku": {
                "name": "Standard_S1",
                "tier": "Standard",
                "size": "S1",
                "capacity": 1
            },
            "properties": {
                "hostNamePrefix": "[parameters('SignalR_hmbtwitterdemo_name')]"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureeventgridpublish_name')]",
            "location": "northcentralus",
            "properties": {
                "displayName": "demoTwitterEG",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',parameters('subscription_id'),'/providers/Microsoft.Web/locations/northcentralus/managedApis/', parameters('connections_azureeventgridpublish_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_documentdb_name')]",
            "location": "northcentralus",
            "properties": {
                "displayName": "tweetcosmosdb",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',parameters('subscription_id'),'/providers/Microsoft.Web/locations/northcentralus/managedApis/', parameters('connections_documentdb_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_twitter_name')]",
            "location": "northcentralus",
            "properties": {
                "displayName": "HmsBarona",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',parameters('subscription_id'),'/providers/Microsoft.Web/locations/northcentralus/managedApis/', parameters('connections_twitter_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/serverfarms",
            "apiVersion": "2016-09-01",
            "name": "[parameters('serverfarms_FunctionApp20190512035939Plan_name')]",
            "location": "Central US",
            "sku": {
                "name": "Y1",
                "tier": "Dynamic",
                "size": "Y1",
                "family": "Y",
                "capacity": 0
            },
            "kind": "functionapp",
            "properties": {
                "name": "[parameters('serverfarms_FunctionApp20190512035939Plan_name')]",
                "perSiteScaling": false,
                "reserved": false,
                "targetWorkerCount": 0,
                "targetWorkerSizeId": 0
            }
        },
        {
            "type": "Microsoft.Web/sites",
            "apiVersion": "2016-08-01",
            "name": "[parameters('sites_twitterdemomeetup_name')]",
            "location": "North Europe",
            "kind": "app",
            "properties": {
                "enabled": true,
                "hostNameSslStates": [
                    {
                        "name": "[concat(parameters('sites_twitterdemomeetup_name'), '.azurewebsites.net')]",
                        "sslState": "Disabled",
                        "hostType": "Standard"
                    },
                    {
                        "name": "[concat(parameters('sites_twitterdemomeetup_name'), '.scm.azurewebsites.net')]",
                        "sslState": "Disabled",
                        "hostType": "Repository"
                    }
                ],
                "serverFarmId": "[parameters('serverfarms_hmbtestapp_externalid')]",
                "reserved": false,
                "scmSiteAlsoStopped": false,
                "clientAffinityEnabled": false,
                "clientCertEnabled": false,
                "hostNamesDisabled": false,
                "containerSize": 0,
                "dailyMemoryTimeQuota": 0,
                "httpsOnly": false
            }
        },
        {
            "type": "microsoft.insights/alertrules",
            "apiVersion": "2014-04-01",
            "name": "[parameters('alertrules_Failure_Anomalies___AI_demoTwitterLogicApp_96d9_name')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_AI_demoTwitterLogicApp_96d9_name'))]"
            ],
            "tags": {
                "hidden-link:/subscriptions/a7b06379-4380-4fe4-826b-eb0f638c1280/resourceGroups/demoTwitterLogicApp/providers/microsoft.insights/components/AI-demoTwitterLogicApp-96d9": "Resource"
            },
            "properties": {
                "name": "[parameters('alertrules_Failure_Anomalies___AI_demoTwitterLogicApp_96d9_name')]",
                "isEnabled": true,
                "condition": {
                    "odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
                    "dataSource": {
                        "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
                        "resourceUri": "[resourceId('microsoft.insights/components', parameters('components_AI_demoTwitterLogicApp_96d9_name'))]",
                        "metricName": "advanced::A3108E3D-5E26-44CF-B232-783F5E20EF10::ewAiAEgAeQBwAGUAcgBpAG8AbgBBAHAAcABsAGkAYwBhAHQAaQBvAG4AUwBpAGQAIgA6AG4AdQBsAGwALAAiAEgAeQBwAGUAcgBpAG8AbgBTAHUAYgBqAGUAYwB0AFMAaQBkACIAOgBuAHUAbABsACwAIgBIAHkAcABlAHIAaQBvAG4ATwBiAHMAZQByAHYAZQByAFMAaQBkACIAOgBuAHUAbABsACwAIgBDAHUAcwB0AG8AbQBlAHIAQQBjAGMAbwB1AG4AdABJAGQAIgA6ACIAMAAwADAAMAAwADAAMAAwAC0AMAAwADAAMAAtADAAMAAwADAALQAwADAAMAAwAC0AMAAwADAAMAAwADAAMAAwADAAMAAwADAAIgAsACIAQQBwAHAAbABpAGMAYQB0AGkAbwBuAE4AYQBtAGUAIgA6AG4AdQBsAGwALAAiAEEAcABwAGwAaQBjAGEAdABpAG8AbgBJAGQAIgA6AG4AdQBsAGwALAAiAFAAcgBvAGYAaQBsAGUASQBkACIAOgAwACwAIgBXAGkAbgBkAG8AdwBTAGkAegBlAEkAbgBNAGkAbgB1AHQAZQBzACIAOgA2ADAALAAiAE0AZQB0AHIAaQBjAE4AYQBtAGUAIgA6ACIAIgAsACIAVABoAHIAZQBzAGgAbwBsAGQAIgA6ADIALgAwACwAIgBBAGwAZQByAHQAVABlAG0AcABsAGEAdABlAEkAZAAiADoAIgAiACwAIgBSAHUAbABlAEkAZAAiADoAIgAiACwAIgBSAHUAbABlAE4AYQBtAGUAIgA6ACIAIgAsACIAUgB1AGwAZQBEAGUAcwBjAHIAaQBwAHQAaQBvAG4AIgA6ACIAIgAsACIAUgBlAHMAbwB1AHIAYwBlAEkAZAAiADoAbgB1AGwAbAAsACIAUwB1AGIAcwBjAHIAaQBwAHQAaQBvAG4ASQBkACIAOgBuAHUAbABsACwAIgBBAGcAZwByAGUAZwBhAHQAZQBGAHUAbgBjAHQAaQBvAG4AIgA6ACIAIgAsACIAQwBvAG0AcABhAHIAaQBzAG8AbgBPAHAAZQByAGEAdABvAHIAIgA6ACIAewBcACIAQgBhAHMAZQBsAGkAbgBlAFQAaQBtAGUAcwBwAGEAbgBcACIAOgBcACIAMAAwADoANAAwADoAMAAwAFwAIgAsAFwAIgBJAG4AcwBpAGcAaAB0AHMAUwBlAHIAdgBpAGMAZQBMAGEAZwBcACIAOgBcACIAMAAwADoAMAAwADoAMAAwAFwAIgAsAFwAIgBCAHUAZgBmAGUAcgBUAGkAbQBlAFwAIgA6AFwAIgAwADAAOgAwADEAOgAwADAAXAAiACwAXAAiAEIAbABvAGIAUwB0AG8AcgBhAGcAZQBMAG8AZwBnAGkAbgBnAEUAbgBhAGIAbABlAGQAXAAiADoAZgBhAGwAcwBlACwAXAAiAFUAcwBlAHIAUwB1AHAAcAByAGUAcwBzAGkAbwBuAHMAXAAiADoAbgB1AGwAbAAsAFwAIgBQAHIAbwBmAGkAbABlAEkAZABcACIAOgAwACwAXAAiAEUAbQBhAGkAbABUAHkAcABlAFwAIgA6ADAALABcACIAUgBkAGQARgBhAGkAbAB1AHIAZQBzAFMAcABpAGsAZQBUAGgAcgBlAHMAaABvAGwAZABcACIAOgAzAC4AMAAsAFwAIgBSAGEAdwBQAHIAbwBhAGMAdABpAHYAZQBSAHUAbABlAEMAbwBuAGYAaQBnAFwAIgA6AG4AdQBsAGwAfQAiACwAIgBFAG4AYQBiAGwAZQBTAGUAbgBkAEUAbQBhAGkAbABUAG8AQwB1AHMAdABvAG0AIgA6AGYAYQBsAHMAZQAsACIAQwB1AHMAdABvAG0ARQBtAGEAaQBsAHMARQBuAGMAbwBkAGUAZAAiADoAIgAiACwAIgBFAG4AYQBiAGwAZQBTAGUAbgBkAEUAbQBhAGkAbABUAG8ATwB3AG4AZQByAHMAIgA6AGYAYQBsAHMAZQB9AA=="
                    },
                    "operator": "GreaterThan",
                    "threshold": 2,
                    "windowSize": "PT1H"
                },
                "action": {
                    "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleEmailAction",
                    "sendToServiceOwners": true,
                    "customEmails": []
                }
            }
        },
        {
            "type": "Microsoft.Web/sites",
            "apiVersion": "2016-08-01",
            "name": "[parameters('sites_demoTwitter_name')]",
            "location": "Central US",
            "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_FunctionApp20190512035939Plan_name'))]"
            ],
            "tags": {
            },
            "kind": "functionapp",
            "properties": {
                "enabled": true,
                "hostNameSslStates": [
                    {
                        "name": "demotwitter.azurewebsites.net",
                        "sslState": "Disabled",
                        "hostType": "Standard"
                    },
                    {
                        "name": "demotwitter.scm.azurewebsites.net",
                        "sslState": "Disabled",
                        "hostType": "Repository"
                    }
                ],
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_FunctionApp20190512035939Plan_name'))]",
                "reserved": false,
                "scmSiteAlsoStopped": false,
                "clientAffinityEnabled": false,
                "clientCertEnabled": false,
                "hostNamesDisabled": false,
                "containerSize": 1536,
                "dailyMemoryTimeQuota": 0,
                "httpsOnly": true
            }
        },
        {
            "type": "Microsoft.Web/sites/config",
            "apiVersion": "2016-08-01",
            "name": "[concat(parameters('sites_demoTwitter_name'), '/web')]",
            "location": "Central US",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demoTwitter_name'))]"
            ],
            "tags": {
                "hidden-related:/subscriptions/a7b06379-4380-4fe4-826b-eb0f638c1280/resourceGroups/demoTwitterLogicApp/providers/Microsoft.Web/serverfarms/FunctionApp20190512035939Plan": "empty"
            },
            "properties": {
                "numberOfWorkers": 1,
                "defaultDocuments": [
                    "Default.htm",
                    "Default.html",
                    "Default.asp",
                    "index.htm",
                    "index.html",
                    "iisstart.htm",
                    "default.aspx",
                    "index.php"
                ],
                "netFrameworkVersion": "v4.0",
                "phpVersion": "5.6",
                "pythonVersion": "",
                "nodeVersion": "",
                "linuxFxVersion": "",
                "requestTracingEnabled": false,
                "remoteDebuggingEnabled": false,
                "remoteDebuggingVersion": "VS2017",
                "httpLoggingEnabled": false,
                "logsDirectorySizeLimit": 35,
                "detailedErrorLoggingEnabled": false,
                "publishingUsername": "$demoTwitter",
                "scmType": "None",
                "use32BitWorkerProcess": true,
                "webSocketsEnabled": false,
                "alwaysOn": false,
                "appCommandLine": "",
                "managedPipelineMode": "Integrated",
                "virtualApplications": [
                    {
                        "virtualPath": "/",
                        "physicalPath": "site\\wwwroot",
                        "preloadEnabled": false,
                        "virtualDirectories": null
                    }
                ],
                "winAuthAdminState": 0,
                "winAuthTenantState": 0,
                "customAppPoolIdentityAdminState": false,
                "customAppPoolIdentityTenantState": false,
                "loadBalancing": "LeastRequests",
                "routingRules": [],
                "experiments": {
                    "rampUpRules": []
                },
                "autoHealEnabled": false,
                "vnetName": "",
                "siteAuthEnabled": false,
                "siteAuthSettings": {
                    "enabled": null,
                    "unauthenticatedClientAction": null,
                    "tokenStoreEnabled": null,
                    "allowedExternalRedirectUrls": null,
                    "defaultProvider": null,
                    "clientId": null,
                    "clientSecret": null,
                    "clientSecretCertificateThumbprint": null,
                    "issuer": null,
                    "allowedAudiences": null,
                    "additionalLoginParams": null,
                    "isAadAutoProvisioned": false,
                    "googleClientId": null,
                    "googleClientSecret": null,
                    "googleOAuthScopes": null,
                    "facebookAppId": null,
                    "facebookAppSecret": null,
                    "facebookOAuthScopes": null,
                    "twitterConsumerKey": null,
                    "twitterConsumerSecret": null,
                    "microsoftAccountClientId": null,
                    "microsoftAccountClientSecret": null,
                    "microsoftAccountOAuthScopes": null
                },
                "cors": {
                    "allowedOrigins": [
                        "https://functions.azure.com",
                        "https://functions-staging.azure.com",
                        "https://functions-next.azure.com",
                        "http://local.tweets.com",
                        "https://twitterdemomeetup.azurewebsites.net"
                    ],
                    "supportCredentials": true
                },
                "localMySqlEnabled": false,
                "http20Enabled": false,
                "minTlsVersion": "1.2",
                "ftpsState": "AllAllowed",
                "reservedInstanceCount": 0
            }
        },
        {
            "type": "Microsoft.Web/sites/config",
            "apiVersion": "2016-08-01",
            "name": "[concat(parameters('sites_twitterdemomeetup_name'), '/web')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_twitterdemomeetup_name'))]"
            ],
            "properties": {
                "numberOfWorkers": 1,
                "defaultDocuments": [
                    "Default.htm",
                    "Default.html",
                    "Default.asp",
                    "index.htm",
                    "index.html",
                    "iisstart.htm",
                    "default.aspx",
                    "index.php",
                    "hostingstart.html"
                ],
                "netFrameworkVersion": "v4.0",
                "phpVersion": "5.6",
                "pythonVersion": "",
                "nodeVersion": "",
                "linuxFxVersion": "",
                "requestTracingEnabled": false,
                "remoteDebuggingEnabled": false,
                "remoteDebuggingVersion": "VS2017",
                "httpLoggingEnabled": false,
                "logsDirectorySizeLimit": 35,
                "detailedErrorLoggingEnabled": false,
                "publishingUsername": "$twitterdemomeetup",
                "scmType": "None",
                "use32BitWorkerProcess": true,
                "webSocketsEnabled": false,
                "alwaysOn": false,
                "appCommandLine": "",
                "managedPipelineMode": "Integrated",
                "virtualApplications": [
                    {
                        "virtualPath": "/",
                        "physicalPath": "site\\wwwroot",
                        "preloadEnabled": false,
                        "virtualDirectories": null
                    }
                ],
                "winAuthAdminState": 0,
                "winAuthTenantState": 0,
                "customAppPoolIdentityAdminState": false,
                "customAppPoolIdentityTenantState": false,
                "loadBalancing": "LeastRequests",
                "routingRules": [],
                "experiments": {
                    "rampUpRules": []
                },
                "autoHealEnabled": false,
                "vnetName": "",
                "siteAuthEnabled": false,
                "siteAuthSettings": {
                    "enabled": null,
                    "unauthenticatedClientAction": null,
                    "tokenStoreEnabled": null,
                    "allowedExternalRedirectUrls": null,
                    "defaultProvider": null,
                    "clientId": null,
                    "clientSecret": null,
                    "clientSecretCertificateThumbprint": null,
                    "issuer": null,
                    "allowedAudiences": null,
                    "additionalLoginParams": null,
                    "isAadAutoProvisioned": false,
                    "googleClientId": null,
                    "googleClientSecret": null,
                    "googleOAuthScopes": null,
                    "facebookAppId": null,
                    "facebookAppSecret": null,
                    "facebookOAuthScopes": null,
                    "twitterConsumerKey": null,
                    "twitterConsumerSecret": null,
                    "microsoftAccountClientId": null,
                    "microsoftAccountClientSecret": null,
                    "microsoftAccountOAuthScopes": null
                },
                "localMySqlEnabled": false,
                "http20Enabled": false,
                "minTlsVersion": "1.2",
                "ftpsState": "AllAllowed",
                "reservedInstanceCount": 0
            }
        },
        {
            "type": "Microsoft.Web/sites/hostNameBindings",
            "apiVersion": "2016-08-01",
            "name": "[concat(parameters('sites_demoTwitter_name'), '/', parameters('sites_demoTwitter_name'), '.azurewebsites.net')]",
            "location": "Central US",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demoTwitter_name'))]"
            ],
            "properties": {
                "siteName": "demoTwitter",
                "hostNameType": "Verified"
            }
        },
        {
            "type": "Microsoft.Web/sites/hostNameBindings",
            "apiVersion": "2016-08-01",
            "name": "[concat(parameters('sites_twitterdemomeetup_name'), '/', parameters('sites_twitterdemomeetup_name'), '.azurewebsites.net')]",
            "location": "North Europe",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_twitterdemomeetup_name'))]"
            ],
            "properties": {
                "siteName": "twitterdemomeetup",
                "hostNameType": "Verified"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_processTweet_name')]",
            "location": "northcentralus",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureeventgridpublish_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_documentdb_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_twitter_name'))]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "staticResults": {
                        "Get_user0": {
                            "status": "Succeeded",
                            "outputs": {
                                "headers": {},
                                "statusCode": "OK"
                            }
                        },
                        "Post_a_tweet0": {
                            "status": "Succeeded",
                            "outputs": {
                                "headers": {},
                                "statusCode": "OK"
                            }
                        },
                        "Publish_Event0": {
                            "status": "Succeeded",
                            "outputs": {
                                "headers": {},
                                "statusCode": "OK"
                            }
                        }
                    },
                    "triggers": {
                        "When_a_new_tweet_is_posted": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": 10
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twitter']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/onnewtweet",
                                "queries": {
                                    "searchQuery": "#meetupdublin #hmbarona"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": {
                                "id": "@guid()",
                                "message": "@triggerBody()?['TweetText']",
                                "tweetId": "@triggerBody()?['TweetId']",
                                "user": "@triggerBody()?['UserDetails']?['FullName']"
                            }
                        },
                        "Create_or_update_document": {
                            "runAfter": {
                                "Publish_Event": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@outputs('Compose')",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/dbs/@{encodeURIComponent('twitter')}/colls/@{encodeURIComponent('tweets')}/docs"
                            }
                        },
                        "Get_user": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twitter']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/user",
                                "queries": {
                                    "userName": "@triggerBody()?['TweetedBy']"
                                }
                            },
                            "runtimeConfiguration": {
                                "staticResult": {
                                    "staticResultOptions": "Enabled",
                                    "name": "Get_user0"
                                }
                            }
                        },
                        "Post_a_tweet": {
                            "runAfter": {
                                "Get_user": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twitter']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/posttweet",
                                "queries": {
                                    "tweetText": "Thank you @@{body('Get_user')['UserName']} to post a tweet using the given keywords in context of our demo."
                                }
                            },
                            "runtimeConfiguration": {
                                "staticResult": {
                                    "staticResultOptions": "Enabled",
                                    "name": "Post_a_tweet0"
                                }
                            }
                        },
                        "Publish_Event": {
                            "runAfter": {
                                "Post_a_tweet": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": [
                                    {
                                        "data": "@triggerBody()",
                                        "eventType": "Tweet",
                                        "id": "@triggerBody()?['TweetId']",
                                        "subject": "Tweet by @{triggerBody()?['TweetedBy']}"
                                    }
                                ],
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureeventgridpublish']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/eventGrid/api/events"
                            },
                            "runtimeConfiguration": {
                                "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Publish_Event0"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureeventgridpublish": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureeventgridpublish_name'))]",
                                "connectionName": "azureeventgridpublish",
                                "id": "[concat('/subscriptions/',parameters('subscription_id'),'/providers/Microsoft.Web/locations/northcentralus/managedApis/azureeventgridpublish')]"
                            },
                            "documentdb": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_documentdb_name'))]",
                                "connectionName": "documentdb",
                                "id": "[concat('/subscriptions/',parameters('subscription_id'),'/providers/Microsoft.Web/locations/northcentralus/managedApis/documentdb')]"
                            },
                            "twitter": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_twitter_name'))]",
                                "connectionName": "twitter",
                                "id": "[concat('/subscriptions/',parameters('subscription_id'),'/providers/Microsoft.Web/locations/northcentralus/managedApis/twitter')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}